.container {
  margin: 2px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--primary);
  border: 3px solid var(--secondaryDark);
  display: flex;
  flex-direction: column;
}

.victory {
  color: var(--matchVictory);
}

.defeat {
  color: var(--matchDefeat);
}

.matchInfo {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.infoSlot {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.8rem;
  font-weight: normal;
}

.info {
  font-size: 1.25rem;
  font-weight: bold;
}


.deleteButton {
  background-color: var(--primary);
  color: var(--matchDefeat);
  border: 1px solid var(--matchDefeat);
  border-radius: 20px;
  padding: 1px 5px;
}

.deleteButton:hover {
  background-color: var(--secondary);
  color: red;
}