.header {
  background-color: var(--primary);
}

.matchInputSection {
  margin: 10px 0px;
}

.contentSection {
  display: flex;
  height: calc(100vh - 250px);
  gap: 20px;
}

@media (max-width: 1028px) {
  .contentSection {
    flex-direction: column;
  }
}