.container {
  max-width: 1200px;
  background-color: var(--primary);
  padding-top: 10px;
}

.header {
  background-color: var(--primary);
}

.matchInputSection {
  margin: 10px 0px;
}

.contentSection {
  height: calc(100vh - 250px);
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  gap: 5px;
}

@media (max-width: 1028px) {
  .contentSection {
    flex-direction: column;
  }
}

