@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --matchDefeat: #7c2100;
  --matchVictory: #006912;
  --colorText: black;
  --primary: #0088F0;
  --primaryDark: #217EC5;
  --secondary: #003CF0;
  --secondaryDark: #385870;
  --accent: #F09000;
}

body {
  padding: 1rem;
  background-color: var(--primary);
  color: var(--colorText);
}

input[type="number"] {
  -webkit-appearance: textfield;
    -moz-appearance: textfield;
      appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}