@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --matchDefeat: #7c2100;
  --matchVictory: #006912;
  --colorText: black;
  --primary: #0088F0;
  --secondary: #003CF0;
  --accent: #F06800;
}

body {
  padding: 1rem;
  background-color: black;
  color: var(--colorText);
}
