.container {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.typeMapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.largeSelect {
  border: 1px solid var(--secondaryDark);
  background-color: var(--primary);
  padding: 10px 10px;
  border-radius: 10px;
  text-align: center;
}

.smallSelect {
  border: 1px solid var(--secondaryDark);
  background-color: var(--primary);
  padding: 5px 5px;
  border-radius: 5px;
  text-align: center;
}

.number {
  background-color: var(--primary);
  border: 1px solid var(--secondaryDark);
  width: 2rem;
  padding-right: 5px;
  text-align: right;
}

.playerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 50px;
}

.addButton {
  background-color: var(--primary);
  padding: 10px;
  border: 2px solid var(--secondaryDark);
  border-radius: 25%;
  transition: all 0.25s ease-in-out;
}

.addButton:hover {
  background-color: var(--secondary);
}