.container {
  background-color: var(--primaryDark);
  border: 3px solid var(--secondary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 160px);
  overflow-y: scroll;
  padding: 5px;
  gap: 5px;
}

@media (max-width: 768px) {
  .container {
    max-height: 50vh;
    overflow-y: scroll;
  }
}
